build/
.venv/
test1/
test?/
testbuild/
venv/
Makefile.local.mk
config.local.mk
.env
*.d
*.pyc
*.pyo
*.pyd
*.pdb
*.swp
*.swo
*.bak
*.orig
*.rej
*.log
*.tmp
*.cache
*.coverage
*.egg
*.egg-info/
*.dist-info/
*.whl
# Ignore the whole .idea folder by default
.idea/*

# But allow a few project-level settings
!.idea/modules.xml
!.idea/misc.xml
!.idea/vcs.xml
!.idea/inspectionProfiles/
